<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse" ng-controller="NavbarCtrl">

    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
            <small class="text-muted hidden-xs-down">MENU</small>
        </button>

        <a class="navbar-brand" href="/">
            <!--<img src="/img/logo.png" height="100" class="d-inline-block align-top" alt="Managerisms | Exemplification of Vacuous Communication">-->
            Managerisms<br/>
            <small class="text-muted hidden-sm-down">Exemplification of Vacuous Communication</small>
        </a>

        <div class="collapse navbar-collapse mt-auto" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" ng-class="{'active': locationEquals('/statements/create')}">
                    <a class="nav-link" href="/statements/create">Compose</a>
                </li>
                <li class="nav-item" ng-class="{'active': (locationEquals('/statements/browse') || locationStartsWith('/statements/view'))}">
                    <a class="nav-link" href="/statements/browse">Browse</a>
                </li>
                <li class="nav-item dropdown" ng-class="{'active': locationStartsWith('/about')}">
                    <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/about/validation">Validation</a>
                        <a class="dropdown-item" href="/about/scoring">Scoring</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</nav>
