<div class="jumbotron jumbotron-fluid py-5">
    <div class="container">
        <h2>Compose a Managerism</h2>
        <h5 class="text-muted">Need inspiration? Check out some of the <a href="/statements/browse">top submissions</a>.</h5>
    </div>
</div>

<div class="container mb-5">

    <div class="alert alert-danger" role="alert" ng-show="error">
        <button type="button" class="close" ng-click="error = null" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="mb-0"><strong>Error</strong>: {{error}}</p>
    </div>

    <div class="alert alert-info" role="alert" ng-show="submitting">
        <p class="mb-0"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Submitting Managerism...</p>
    </div>

    <form name="builderForm" ng-submit="analyze()" class="mb-5" ng-hide="submitting">
        <div class="form-group row mb-0" ng-class="{ 'has-danger': builderForm.text.$dirty && builderForm.text.$invalid }">

            <div class="col-12">
                <textarea rows="3" class="form-control form-control-lg p-3" ng-class="{ 'form-control-danger': builderForm.text.$dirty && builderForm.text.$invalid }" id="text" name="text" ng-model="statement.text" ng-change="onChange()" ng-keydown="onKeydown($event)" placeholder="<Insert Managerism Here>" required></textarea>
            </div>

        </div>

        <div class="row align-items-center">
            <div class="col-sm-7 mt-3">
                <span class="form-text text-muted"><strong>Hints</strong>: Use a complete sentence (no questions). Avoid contractions. Don't worry about formatting. <em>Consult your manager.</em></span>
            </div>
            <div class="col-sm-5 mt-3">
                <button type="submit" class="btn btn-lg btn-block" ng-disabled="builderForm.$invalid || analyzing" ng-class="{ 'btn-primary': builderForm.$valid, 'btn-danger': builderForm.$dirty && builderForm.$invalid }">
                    <span ng-hide="analyzing">Analyze</span>
                    <span ng-show="analyzing"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> Analyzing...</span>
                </button>
            </div>
        </div>

    </form>

</div>
